
body {
    margin: 0;
    font-family: "Courguette", serif;
    background-image: url(/fundoo.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.courgette-regular {
    font-family: "Courgette", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.navbar {
    background-color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    color: #ffffff;
}

.movie-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.movie-card {
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #851010;
    transition: transform 0.2s ease;
}

.movie-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.movie-card p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #8a0000;
    color: white;
  }
  
  .modal-content {
    position: relative;
    background-color: #3d3d3d;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  #myBtn{
    background: linear-gradient(to right, #9a0033, #440012);
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }